# Hidden files, virtual environment, presentation and relabelling of annotations
.idea/
venv
image_information.ipynb

# Images and annotations (TensorFlow)
TensorFlow/workspace/training_products_shelf/images/all
TensorFlow/workspace/training_products_shelf/images/all_label
TensorFlow/workspace/training_products_shelf/images/train/*.xml
TensorFlow/workspace/training_products_shelf/images/test/*.xml
TensorFlow/workspace/training_products_shelf/images/train/*.jpg
TensorFlow/workspace/training_products_shelf/images/test/*.jpg
TensorFlow/workspace/training_products_shelf/annotations/label_map.pbtxt
TensorFlow/workspace/training_products_shelf/annotations/*.record
images/2021/*
images/my_2021/*

# Pretrained models and models
TensorFlow/workspace/training_products_shelf/pre-trained-models/*
TensorFlow/workspace/training_products_shelf/models/*
TensorFlow/models/
TensorFlow/workspace/training_products_shelf/exporter_main_v2.py

# Images and results
analysis
image_np_with_detections.npy
object_relabelling.npy
train_image_relabelling.npy
analysis_image_relabelling.npy

# Retailer list
image_information.txt
relabel_train.txt
relabel_analysis.txt
retailer.txt

# Pitch
pitch/*
